<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Branch Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>Branches List</h1>

    <a th:href="@{/sucursal/add}" class="btn btn-primary btn-sm mb-3"> Add branch </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "branchDto : ${branchesDto}">
            <td th:text = "${branchDto.pk_BranchID}"></td>
            <td th:text="${branchDto.branchName}"></td>
            <td th:text="${branchDto.branchCountry}"></td>
            <td> <a th:href="@{/sucursal/update/{id}(id=${branchDto.pk_BranchID})}" class="btn btn-primary">Update Branch</a>
                 <a th:href="@{/sucursal/delete/{id}(id=${branchDto.pk_BranchID})}" class="btn btn-danger">Delete Branch</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>